<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm Nhân Viên</title>
</head>
<body>
<h2>Thêm Nhân Viên Mới</h2>

<form th:action="@{/Admin/save}" th:object="${user}" method="post">

    <label>Họ và tên:</label>
    <input type="text" th:field="*{fullName}">
    <span style="color:red;" th:errors="*{fullName}"></span>
    <br>

    <label>Địa chỉ:</label>
    <input type="text" th:field="*{address}">
    <span style="color:red;" th:errors="*{address}"></span>
    <br>

    <label>Ngày sinh:</label>
    <input type="date" th:field="*{dateOfBirth}">
    <span style="color:red;" th:errors="*{dateOfBirth}"></span>
    <br>

    <label>Công việc:</label>
    <input type="text" th:field="*{work}">
    <span style="color:red;" th:errors="*{work}"></span>
    <br>

    <label>Số điện thoại:</label>
    <input type="text" th:field="*{phone}">
    <span style="color:red;" th:errors="*{phone}"></span>
    <br>

    <label>Tên đăng nhập:</label>
    <input type="text" th:field="*{username}">
    <span style="color:red;" th:errors="*{username}"></span>
    <br>

    <label>Mật khẩu:</label>
    <input type="password" th:field="*{passwordHash}">
    <span style="color:red;" th:errors="*{passwordHash}"></span>
    <br>

    <label>Email:</label>
    <input type="email" th:field="*{email}">
    <span style="color:red;" th:errors="*{email}"></span>
    <br>

    <button type="submit">Lưu</button>
</form>
</body>
</html>
