<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Người dùng</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2>Danh sách Người dùng</h2>

<a th:href="@{/Admin/add}">
    <button>Thêm Nhân Viên</button>
</a>

<form th:action="@{/Admin}" method="get">
    <input type="text" name="keyword" th:value="${keyword}" placeholder="Nhập từ khóa"/>
    <select name="type">
        <option value="all" th:selected="${type == 'all'}">Tất cả</option>
        <option value="name" th:selected="${type == 'name'}">Họ và Tên</option>
        <option value="phone" th:selected="${type == 'phone'}">Số điện thoại</option>
        <option value="work" th:selected="${type == 'work'}">Công việc</option>
        <option value="email" th:selected="${type == 'email'}">Email</option>
    </select>
    <button type="submit">Tìm kiếm</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Họ và Tên</th>
        <th>Số điện thoại</th>
        <th>Công việc</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s,l : ${list}">
        <td th:text="${l.count}"></td>
        <td th:text="${s.fullName}"></td>
        <td th:text="${s.phone}"></td>
        <td th:text="${s.work}"></td>
        <td th:text="${s.email}"></td>
    </tr>
    </tbody>
</table>

<div>
    <span>Trang: </span>
    <span th:text="${currentPage}"></span> / <span th:text="${totalPages}"></span>

    <a th:if="${currentPage > 1}" th:href="@{/Admin(keyword=${keyword}, type=${type}, page=${currentPage - 1})}">Trước</a>
    <a th:if="${currentPage < totalPages}" th:href="@{/Admin(keyword=${keyword}, type=${type}, page=${currentPage + 1})}">Tiếp</a>
</div>
</body>
</html>
