.main-content {
    margin-left: 250px;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 10px;
    min-height: calc(100vh - 110px);
    transition: margin-left 0.1s ease;
    background-color:#E4E7ED;
}
.wrapper{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
.search-form {
    display: flex;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-form select,
.search-form input,
.search-form button {
    border: none;  /* Loại bỏ border mặc định */
    outline: none;  /* Loại bỏ outline khi focus */
}

.search-form select {
    border-radius: 50px 0 0 50px;
    padding: 8px 12px;
    border-right: 2px solid #E4E7ED;
}

.search-form input {
    border-radius: 0;  /* Không bo góc của input */
    padding: 8px 12px;  /* Điều chỉnh padding */
    flex-grow: 1;  /* Cho phép input mở rộng chiếm hết không gian */
}

.search-form button {
    background-color: #D10024;
    color: white;
    border-radius: 0 50px 50px 0;  /* Bo tròn góc phải */
    padding: 8px 12px;  /* Điều chỉnh padding */
    cursor: pointer;  /* Thêm con trỏ chuột khi hover */
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #B0001E;  /* Thay đổi màu khi hover */
}

.search-form select:focus,
.search-form input:focus {
    outline: none;
}

